.container {
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    li {
      display: flex;
      justify-content: center;
      flex: 1 0 33.333%;
      list-style: none;
      margin-bottom: 20px;
      .btn {
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        border-radius: 4px;
        font-family: Arial;
        color: #000000;
        padding: 10px 15px;
        text-decoration: none;
        margin: 10px;
        height: 100%;
        width: 100%;
      }
      .btnDisabled {
        background: rgb(179, 185, 184);
        border: solid rgb(110, 110, 110) 1px;
      }
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 700px) {
  .container {
    display: flex;
    justify-content: center;
    ul {
      width: 20%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    ul {
      li {
        .btn {
          color: #fff;
          background: rgb(16, 23, 32);
        }
      }
    }
  }
}