.container {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  ul {
    display: flex;
    li {
      list-style: none;
      margin: 0 15px;
      .input {
        text-align: center;
        width: 2em;
        -webkit-border-radius: 4;
        -moz-border-radius: 4;
        border-radius: 4px;
        font-family: Arial;
        color: #000000;
        background: rgb(88, 255, 199);
        padding: 5px;
        border: solid rgb(31, 202, 145) 1px;
        text-decoration: none;
        transform: scale(1.5);
      }
    }
  }
  ul, li {
    margin: 0;
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    ul {
      li {
        .input {
          color: #fff;
          background: rgb(16, 23, 32);
        }
      }
    }
  }
}